In [2]:
#list ordered,changeable,allow duplicates square bracket
fruits = ["apple", "banana", "mango", "apple"]
print(fruits)

['apple', 'banana', 'mango', 'apple']

In [ ]:
print(fruits[0])#print by index

apple

In [ ]:
fruits.append("grapes")# add element at last
print(fruits)

['apple', 'banana', 'mango', 'apple', 'grapes', 'grapes']

In [6]:
fruits.insert(2, "cherry")    # add at specific index
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'apple', 'grapes', 'grapes']

In [15]:
fruits = ["apple", "banana", "mango", "apple"]
fruits.remove("banana")  # removes the specific element
print(fruits)

['apple', 'mango', 'apple']

In [ ]:
fruits = ["apple", "banana", "mango", "apple"]
fruits.pop()#automatically removes last element if not index given

'apple'

In [17]:
fruits.pop(1)
print(fruits)

['apple', 'mango']

In [18]:
fruits = ["apple", "banana", "mango"]
fruits.clear()
print(fruits)

[]

In [19]:
#tuple ordered,cann't change ,allow duplicates
colors = ("red", "green", "blue", "green")
print(colors)

('red', 'green', 'blue', 'green')

In [20]:
#sets unordered,no duplicates
numbers = {1, 2, 3, 4, 2, 3}
print(numbers)

{1, 2, 3, 4}

In [21]:
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [23]:

numbers.remove(2)   # error if not exists
print(numbers)

{1, 3, 4, 5}

In [24]:
numbers.discard(10) # no error if not exists
print(numbers)

{1, 3, 4, 5}

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, "b", "c"}

# intersection â†’ only common elements
set3 = set1.intersection(set2)

print(set3)

{'b', 'c'}

In [ ]:
student = {
    "name": "Sara",
    "age": 20,
    "course": "Software Engineering"
}
print(student)

{'name': 'Sara', 'age': 22, 'course': 'Software Engineering'}

In [32]:
print(student["name"])

Sara

In [33]:
student["university"] = "Superior"
print(student)

{'name': 'Sara', 'age': 22, 'course': 'Software Engineering', 'university': 'Superior'}

In [34]:
student["age"] = 23
print(student)

{'name': 'Sara', 'age': 23, 'course': 'Software Engineering', 'university': 'Superior'}

In [35]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are underage.")

You are an adult.

In [36]:
marks = 85

if marks >= 90:
    print("Grade A+")
elif marks >= 80:
    print("Grade A")
elif marks >= 70:
    print("Grade B")
else:
    print("Fail")

Grade A

In [37]:
x = 15

if x > 10:
    print("Greater than 10")
    if x % 2 == 0:
        print("Also Even")
    else:
        print("Also Odd")

Greater than 10
Also Odd

In [38]:
age = 20
city = "Lahore"

if age > 18 and city == "Lahore":
    print("You can apply for job in Lahore.")

if age < 18 or city == "Karachi":
    print("Special case allowed.")

if not age < 18:
    print("You are an adult.")

You can apply for job in Lahore.
You are an adult.