In [ ]:
text = "  Hello World  "
print(text)
#simple string print

  Hello World

In [12]:
# slicing start:end (end not included)
text = "  Hello World  "
print(text[2:7])

Hello

In [13]:
# From start to 5th index
print(text[:5])

  Hel

In [14]:
# From 6th index to end
print(text[6:])

o World

In [15]:
#  nagative indexing Last 5 characters
print(text[-5:])

rld

string modification

In [16]:
print(text.upper())

  HELLO WORLD

In [17]:
print(text.lower())

  hello world

remove space

In [18]:
print(text.strip())   # both sides 
print(text.lstrip())  # left side 
print(text.rstrip())  # right side

Hello World
Hello World
  Hello World

replace

In [19]:
print(text.replace("World", "Python"))

  Hello Python

Split (sperate words)

In [20]:
words = text.split()
print(words)

['Hello', 'World']

Concatenation

In [ ]:
s1 = "Data"
s2 = "Science"
print(s1 + " " + s2)

Data Science

string formating

In [23]:
name = "Sara"
age = 20
print(f"My name is {name} and I am {age} years old.")

My name is Sara and I am 20 years old.